h1 {
    text-align: center;
}

body {
    margin: 0 200px;
    background-color: #ffff9e;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin: auto;
    padding: 8px;
    background-color: #FFFF6B;
    border: 10px solid black;
}

.recipe-container {
    text-align: center;
    border-color: black;
    margin: auto;
}

.recipe-list {
    display: inline-block;
    text-align: center;
}

.recipe a:link, .recipe a:visited {
    color: black;
}

.recipe a:hover, .recipe a:active {
    color: blue;
}

.description-box, .ingredients-box, .steps-box {
    margin: 10px;
    padding: 0.5px 10px;
    background-color: #9E9EFF;
}