h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0 200px;
}

img {
    display: block;
    margin: auto;
}

.recipe-container {
    text-align: center;
    border-color: black;
    margin: auto;
}

.recipe-list {
    display: inline-block;
    text-align: center;
}

.recipe a:link, .recipe a:visited {
    color: black;
}

.recipe a:hover, .recipe a:active {
    color: blue;
}